<ion-header>
  <ion-toolbar>
    <ion-title>MH Today</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;height:600px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
          <ion-button>Download Resources</ion-button>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

