<ion-header>
  <ion-toolbar>
    <ion-title>Humor hari ini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;height:600px;">
          <h2>Percakapan Kakek dan Cucunya pada Tahun 2060</h2>
         <p>Tahun 2060.</p>
<p>Kakek: "Pada tahun 2020 ada sebuah wabah besar menyerang bumi, dan kakek adalah salah satu warga yang berjasa membantu mencegah penyebaran wabah tersebut."
Cucu perempuan: "Oh, ya? Gimana caranya, Kek?"
Kakek: "Rebahan di rumah seharian."
</p>

<p>[Diambil dari: <a href="https://twitter.com/​handokotjung/​status/​,1242083700411494402">https://twitter.com/​handokotjung/​status/​,1242083700411494402</a>]</p>
<p>Usahakanlah kesejahteraan kota tempat Aku telah mengirimmu ke pembuangan, dan berdoalah kepada TUHAN untuk kota itu karena dalam kesejahteraan kota itulah kamu akan memperoleh kesejahteraan.
<br>—Yeremia 29:7, AYT</p>

          <p class="time">Oktober 2020</p>


          <ion-button (click)="kunjungiLink('https://twitter.com/​handokotjung/​status/​,1242083700411494402')">Kunjungi Link</ion-button> <ion-button (click)="bagikan()">Bagikan</ion-button>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

