<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <img src="/assets/images/tdwg_logo.png" style="margin: auto; padding-top:25%; display: flex; max-width: 150px" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item style="padding-top:10px;">
              <ion-label>Nama</ion-label>
              <ion-input name="name" type="text" placeholder="TDWG User" ngModel required></ion-input>
            </ion-item>
            <ion-item style="padding-top:10px;">
              <ion-label>Email</ion-label>
              <ion-input name="email" type="email" placeholder="halo@thisdaywithgod.org" ngModel required></ion-input>
            </ion-item>
            <ion-item style="padding-top:10px;">
              <ion-label>Password</ion-label>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              <ion-input name="device_name" type="text" [(ngModel)]="dev_name" hidden></ion-input>
            </ion-item>
          </div>
          <div padding style="padding-top:10px;">
            <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block">Daftar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row color="tdwg" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center padding style="text-align: center;" >
            <a color="primary" (click)="back()">Kembali</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
