<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <ion-label>Selamat Pagi</ion-label>
        <h2>Kak Setiawan</h2>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>FirmanNya hari ini</h5>
          <p>Matius 5:7 Berbahagialah orang yang murah hatinya 6 , karena mereka akan beroleh kemurahan.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <h4>Resource Lainnya</h4>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="6" size-xs="12">
        <h2>FirmanNya hari ini</h2>
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <div class="article__tile">
            <h3>Matius 5:18</h3>
            <p>"Karena Aku berkata kepadamu: Sesungguhnya selama belum lenyap langit dan bumi ini, satu iota atau satu titikpun tidak akan ditiadakan dari hukum Taurat, sebelum semuanya terjadi.</p>
          </div>
          <div class="article__tile">
            <h3>Lukas 17:28</h3>
            <p>Demikian juga seperti yang terjadi di zaman Lot: y  mereka makan dan minum, mereka membeli dan menjual, mereka menanam dan membangun</p>
          </div>
        </div>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <h2>Humor hari ini</h2>
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <h3>Percakapan Kakek dan Cucunya pada Tahun 2060</h3>
          <p>Kakek: "Pada tahun 2020 ada sebuah wabah besar menyerang bumi, dan kakek adalah salah satu warga yang berjasa membantu mencegah penyebaran wabah tersebut."
            Cucu perempuan: "Oh, ya? Gimana caranya, Kek?"
            Kakek: "Rebahan di rumah seharian."</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <ion-label>Halo</ion-label>
          <h2>TDWG</h2>
        </div>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <ion-label>Halo</ion-label>
          <h2>TDWG</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <ion-label>Halo</ion-label>
          <h2>TDWG</h2>
        </div>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <ion-label>Halo</ion-label>
          <h2>TDWG</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;">
          <ion-label>Halo</ion-label>
          <h2>TDWG</h2>
        </div>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <div text-center padding class="main__region" style="height:150px; border-radius:5px;"> 
          <ion-label>Halo</ion-label>
          <h2>TDWG</h2>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
