<ion-header>
  <ion-toolbar>
    <ion-title>
      <h4 *ngIf="resource">
        <ion-icon name="arrow-back" color="primary" (click)="back(resource.direktori)"></ion-icon>
        &emsp;{{ resource.subdirektori }}
      </h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row mode="ios" *ngIf="resource">
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <img src="{{resource.thumbnail}}">
        <div padding>
          <h3 style="text-align:left !important; margin-bottom:0px;">
            {{resource.judul}}
          </h3>
          <p style="text-align:right !important; margin-top:0px;"><small>{{resource.published_at  | date: 'd/MM/yyyy [H:mm]' }}</small></p>
        </div>
        <div padding>
          <p style="text-align:left !important;">
            {{resource.konten}}
          </p>
        </div>
        <div style="padding-bottom: 50px;">
          <audio *ngIf="resource.media_tipe == 'audio'" src="{{resource.media_url}}" style="max-width: 100%;"></audio>
          <video *ngIf="resource.media_tipe == 'video'" src="{{resource.media_url}}" style="max-width: 100%;"></video>
          <img *ngIf="resource.media_tipe == 'image'" src="{{resource.media_url}}" style="max-width: 100%;">
          <iframe *ngIf="resource.media_tipe == 'other'" src="{{resource.media_url}}" style="max-width: 100%;"></iframe>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="bagikan()" color="primary" style="text-align:center">Bagikan</ion-title>
  </ion-toolbar>
</ion-footer>

