<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" color="primary" (click)="back()"></ion-icon> Tentang Kami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h2><strong>This Day With God</strong> (TDWG)</h2><div style="text-align: right;">-- <em>Christ, me and Others</em></div>
          <br>
          <p>adalah aplikasi yang menjawab kebutuhan Anda untuk bisa bersama Tuhan setiap hari. Aplikasi ini memiliki bahan kekristenan yang alkitabiah 
            untuk menolong Anda bertumbuh dalam Kristus dan memperlengkapi Anda dalam pelayanan.</p>
            <br/>
          </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="6">
        <img src="/assets/images/tdwg_logo.png" style=" margin: auto;  display: flex;" />
      </ion-col>
      <ion-col size-md="6" size-lg="5" size-xs="6">
        <h4>TDWG</h4>
        <p>Version 1.1.10</p>
        <p><a href="https://www.thisdaywithgod.org">thisdaywithgod.org</a></p>
      </ion-col>
    </ion-row>
    <br>
    </ion-grid>
</ion-content>
