<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" color="primary" (click)="back()"></ion-icon> Tentang Kami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h2 style="text-align: center;"><strong>This Day With God</strong> (TDWG)</h2>
          <p style="text-align: right;">-- <em>Christ, me and others</em></p>
          <p style="text-align: justify;">adalah aplikasi yang menjawab kebutuhan Anda untuk bisa bersama Tuhan setiap hari. Aplikasi ini memiliki bahan kekristenan yang alkitabiah untuk menolong Anda bertumbuh dalam Kristus dan memperlengkapi Anda dalam pelayanan.</p>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="6">
        <img src="/assets/images/tdwg_logo.png" style=" margin: auto;  display: flex;" />
      </ion-col>
      <ion-col size-md="6" size-lg="5" size-xs="6">
        <h4>
          TDWG<br/>
          <small>Versi 0.0.1</small>
        </h4>
        <h6><a href="https://www.thisdaywithgod.org">thisdaywithgod.org</a></h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
