<ion-header>
  <ion-toolbar>
    <ion-title>About This day with God</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h2>TDWG</h2>
          <p> Long Description Here Long Description Here Long Description Here Long 
            Description Here Long Description Here Long Description Here Long Description Here Long Description Here</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="6">
        <img src="https://via.placeholder.com/150" style="border-radius: 50%; margin: auto;  display: flex;" />
      </ion-col>
      <ion-col size-md="6" size-lg="5" size-xs="6">
        <h4>TDWG</h4>
        <p>Version 1.1.10</p>
        <p><a href="https://www.thisdaywithgod.org">thisdaywithgod.org</a></p>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
