<ion-header>
  <ion-toolbar>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <ion-label>Halo</ion-label>
        <h2>TDWG</h2>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h4>18:00</h4>
          <p>Senin | MH Today</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h4>18:00</h4>
          <p>Senin | MH Today</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h4>18:00</h4>
          <p>Senin | MH Today</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h4>18:00</h4>
          <p>Senin | MH Today</p>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
