<ion-header>
  <ion-toolbar>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <ion-label>
          <small>Halo</small>
          <h2>{{userName}}</h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center  *ngFor="let item of preferensi">
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h4>{{item.jam}}</h4>
          <p>{{item.hari}} | {{item.direktori}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
