<ion-header>
  <ion-toolbar>
    <ion-title>MH Today</ion-title>
    <div style="text-align:right">
      <ion-icon *ngIf="isLoggedIn()" style="margin-right:5px;font-size:22px;" name="log-out-outline" (click)="logoutNow()"></ion-icon> 
      <ion-icon *ngIf="!isLoggedIn()" style="margin-right:5px;font-size:22px;" name="log-in-outline" (click)="loginNow()"></ion-icon>  
      <img src="/assets/images/tdwg_logo.png" width="34px" (click)="aboutUs()"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="tdwg" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div text-center padding class="main__region" style="border-radius:5px;">
          <h5>Title Here</h5>
          <p>Description Here</p>
          <p class="time">Oktober 2020</p>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

